* {
  box-sizing: border-box;
}
:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}
body {
  /* font-family: 'Raleway', sans-serif;     */
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: flex;
  max-height: 2400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
  background-image: url(images/bg-curve-desktop.svg);
  /* background-position: top 30%; */
  background-size: cover;
  background-size: 480% 100%;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center top 650px;
}
.fylo {
  align-self: flex-start;
}
.navi {
  background-color: rgb(255, 255, 255);
  display: flex;
  font-size: 1.4em;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}
.deepnavi a {
  margin-left: 25px;
}
.deepnavi a:hover {
  color: hsl(224, 93%, 58%);
}
.initial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
div > img {
  max-width: 600px;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 700;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
}
.bububutton {
  background-color: hsl(224, 93%, 58%);
  padding: 12px 60px;
  border: none;
  color: white;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  font-weight: 600;
  box-shadow: 3px 3px 6px hsl(218deg 8% 83%);
}
.bububutton:hover {
  background-color: hsl(224, 78%, 64%);
  transition: 0.6s;
}
.firstinput {
  background-color: white;
  padding: 11px 50px 11px 11px;
  border: 1px solid rgb(78, 78, 78);
  color: rgb(129, 129, 129);
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  font-weight: 300;
  margin-right: 18px;
  box-shadow: 3px 3px 6px hsl(218deg 8% 83%);
}
.firstinput:focus {
  background-color: hsla(224, 59%, 70%, 0.137);
}
.secondary {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -4em;
}
.greenlink {
  color: rgb(45, 114, 72);
  font-size: 1.2em;
  text-decoration-line: underline;
  text-underline-offset: 0.4em;
}
.greenlink::after {
  content: url(images/icon-arrow.svg);
  position: relative;
  left: 5px;
  top: 4px;
}
.greenlink:hover {
  color: rgb(20, 63, 37);
}
.cloud {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 6px hsl(218deg 8% 83%);
  margin: auto auto auto 10px;
}
.cloud::before {
  content: url(images/icon-quotes.svg);
}
.cloud > p {
  font-weight: 500;
  font-size: 1em;
}
.kyle {
  position: relative;
  bottom: 38px;
  left: 55px;
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
}
.kyle:first-of-type {
  font-weight: 800;
  font-size: 1em;
}
.pictrue {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.founder {
  font-weight: 400;
  font-size: 0.9em;
}
.beforefooter {
  display: flex;
  flex-direction: row;
  background-color: hsl(238, 22%, 44%);
  width: 100vw;
  padding: 50px 80px 80px 80px;
  margin-top: 80px;
  color: white;
}
.tekst {
  max-width: 850px;
}
.bubutton {
  background-color: hsl(224, 93%, 58%);
  padding: 12px 60px;
  border: none;
  color: white;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  font-weight: 600;
}
.second-input {
  background-color: white;
  padding: 11px 200px 11px 11px;
  border: 1px solid rgb(78, 78, 78);
  color: rgb(129, 129, 129);
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  font-weight: 300;
  margin-right: 18px;
}
.buttonstage {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 35px 0;
  align-items: flex-start;
}
.bubutton:hover {
  background-color: hsl(224, 78%, 64%);
  transition: 0.6s;
}
.second-input:focus {
  background-color: hsl(227, 39%, 93%);
}
.foot-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsl(243, 87%, 12%);
  width: 100vw;
  padding: 50px 80px 80px 80px;
  color: white;
}
.firstitem {
  display: inline-flex;
  flex-direction: column;
  margin-right: 70px;
}
.firstitem a::before {
  content: url(images/icon-phone.svg);
  margin-right: 10px;
}
.firstitem p::before {
  content: url(images/icon-email.svg);
  margin-right: 10px;
}
.firstitem::before {
  content: url(images/logo-white.svg);
  margin-bottom: 25px;
  filter: ;
}
ul li {
  list-style: none;
  padding-bottom: 10px;
}
.menu-bottom {
  margin-top: 69px;
}
.logomedia {
  display: flex;
  flex-direction: row;
  text-align: center;
}
a[class^="fa"] {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 80px;
  font-size: 22px;
  text-align: center;
  width: 42px;
  height: 42px;
  padding-top: 10px;
  margin-left: 20px;
}
footer {
  background-color: hsl(243, 87%, 12%);
  width: 100vw;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  color: hsl(238, 22%, 44%);
  transition: 0.5s;
}
